AWS4 SignatureDoesNotMatch if header contains two spaces

There's an obscure bug in fog-aws:

If a request header contains multiple consecutive spaces, PUT requests fail with SignatureDoesNotMatch error. The problem seems to be, that signing is done with all the spaces, but later in the actual request the spaces are combined to a single space.

Example:

``` ruby
require 'rubygems'
require 'bundler/setup'
require 'fog/aws'
require 'json'

# create a connection
storage = Fog::Storage.new({
  :provider                 => 'AWS',
  :aws_access_key_id        => ENV['AWS_ACCESS_KEY_ID'],
  :aws_secret_access_key    => ENV['AWS_SECRET_ACCESS_KEY'],
  :region                   => 'eu-central-1'
})

storage.sync_clock

meta = {
  "name" => "Foo  Bar.txt", # two spaces between Foo and Bar are important!
  "model_class" => "Asset",
  "model_attachment" => "attachment"
}

headers = {
  'Content-Type' => 'text/plain',
  'x-amz-acl' => 'public-read',
  'x-amz-meta-json' => JSON.generate(meta, ascii_only: true)
}

puts storage.put_object(ENV['AWS_S3_BUCKET'], "foo__bar.txt", "foo", headers).inspect
```

The Exception message shows that the x-amz-meta-json header received by S3 only contained a single space in the value of the "name" key:

```
>PUT\n/foo__bar.txt\n\ncontent-length:3\ncontent-type:text/plain\nhost:REDACTED.s3-eu-central-1.amazonaws.com\nx-amz-acl:public-read\nx-amz-content-sha256:2c26b46b68ffc68ff99b453c1d30413413422d706483bfa0f98a5e886266e7ae\nx-amz-date:20150803T172146Z\nx-amz-meta-json:{\"name\":\"Foo Bar.txt\",\"model_class\":\"Asset\",\"model_attachment\":\"attachment\"}\n\ncontent-length;content-type;host;x-amz-acl;x-amz-content-sha256;x-amz-date;x-amz-meta-json\n2c26b46b68ffc68ff99b453c1d30413413422d706483bfa0f98a5e886266e7ae
```

Full Exception:

``` ruby
/usr/local/lib/ruby/gems/2.2.0/gems/excon-0.45.4/lib/excon/middlewares/expects.rb:6:in `response_call': Expected(200) <=> Actual(403 Forbidden) (Excon::Errors::Forbidden)
excon.error.response
  :body          => "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Error><Code>SignatureDoesNotMatch</Code><Message>The request signature we calculated does not match the signature you provided. Check your key and signing method.</Message><AWSAccessKeyId>REDACTED</AWSAccessKeyId><StringToSign>AWS4-HMAC-SHA256\n20150803T172146Z\n20150803/eu-central-1/s3/aws4_request\n364ef278f8b6aa2fb5f75db5c6b83d6207642c0551be8396881fc0fa4d194071</StringToSign><SignatureProvided>428b2d90fda0990d817dfa2be183963e58334bf58ae2157a9e8019146e53ccab</SignatureProvided><StringToSignBytes>REMOVED</StringToSignBytes><CanonicalRequest>PUT\n/foo__bar.txt\n\ncontent-length:3\ncontent-type:text/plain\nhost:REDACTED.s3-eu-central-1.amazonaws.com\nx-amz-acl:public-read\nx-amz-content-sha256:2c26b46b68ffc68ff99b453c1d30413413422d706483bfa0f98a5e886266e7ae\nx-amz-date:20150803T172146Z\nx-amz-meta-json:{\"name\":\"Foo Bar.txt\",\"model_class\":\"Asset\",\"model_attachment\":\"attachment\"}\n\ncontent-length;content-type;host;x-amz-acl;x-amz-content-sha256;x-amz-date;x-amz-meta-json\n2c26b46b68ffc68ff99b453c1d30413413422d706483bfa0f98a5e886266e7ae</CanonicalRequest><CanonicalRequestBytes>REMOVED</CanonicalRequestBytes><RequestId>D2560DFBE4861EA5</RequestId><HostId>1LkS+bveVQmQUAoEHqmScdixlY6BCMfTA2g0MQV76q+uLEw1A9DNdRphLPiOKLa6s4LV3c9aHaU=</HostId></Error>"
  :headers       => {
    "Connection"       => "close"
    "Content-Type"     => "application/xml"
    "Date"             => "Mon, 03 Aug 2015 17:21:47 GMT"
    "Server"           => "AmazonS3"
    "x-amz-id-2"       => "1LkS+bveVQmQUAoEHqmScdixlY6BCMfTA2g0MQV76q+uLEw1A9DNdRphLPiOKLa6s4LV3c9aHaU="
    "x-amz-request-id" => "D2560DFBE4861EA5"
  }
  :local_address => "192.168.22.119"
  :local_port    => 54054
  :reason_phrase => "Forbidden"
  :remote_ip     => "54.231.192.38"
  :status        => 403
  :status_line   => "HTTP/1.1 403 Forbidden\r\n"
    from /usr/local/lib/ruby/gems/2.2.0/gems/excon-0.45.4/lib/excon/middlewares/response_parser.rb:8:in `response_call'
    from /usr/local/lib/ruby/gems/2.2.0/gems/excon-0.45.4/lib/excon/connection.rb:372:in `response'
    from /usr/local/lib/ruby/gems/2.2.0/gems/excon-0.45.4/lib/excon/connection.rb:236:in `request'
    from /usr/local/lib/ruby/gems/2.2.0/gems/excon-0.45.4/lib/excon/middlewares/idempotent.rb:26:in `error_call'
    from /usr/local/lib/ruby/gems/2.2.0/gems/excon-0.45.4/lib/excon/middlewares/base.rb:10:in `error_call'
    from /usr/local/lib/ruby/gems/2.2.0/gems/excon-0.45.4/lib/excon/middlewares/base.rb:10:in `error_call'
    from /usr/local/lib/ruby/gems/2.2.0/gems/excon-0.45.4/lib/excon/connection.rb:256:in `rescue in request'
    from /usr/local/lib/ruby/gems/2.2.0/gems/excon-0.45.4/lib/excon/connection.rb:204:in `request'
    from /usr/local/lib/ruby/gems/2.2.0/gems/excon-0.45.4/lib/excon/middlewares/idempotent.rb:26:in `error_call'
    from /usr/local/lib/ruby/gems/2.2.0/gems/excon-0.45.4/lib/excon/middlewares/base.rb:10:in `error_call'
    from /usr/local/lib/ruby/gems/2.2.0/gems/excon-0.45.4/lib/excon/middlewares/base.rb:10:in `error_call'
    from /usr/local/lib/ruby/gems/2.2.0/gems/excon-0.45.4/lib/excon/connection.rb:256:in `rescue in request'
    from /usr/local/lib/ruby/gems/2.2.0/gems/excon-0.45.4/lib/excon/connection.rb:204:in `request'
    from /usr/local/lib/ruby/gems/2.2.0/gems/excon-0.45.4/lib/excon/middlewares/idempotent.rb:26:in `error_call'
    from /usr/local/lib/ruby/gems/2.2.0/gems/excon-0.45.4/lib/excon/middlewares/base.rb:10:in `error_call'
    from /usr/local/lib/ruby/gems/2.2.0/gems/excon-0.45.4/lib/excon/middlewares/base.rb:10:in `error_call'
    from /usr/local/lib/ruby/gems/2.2.0/gems/excon-0.45.4/lib/excon/connection.rb:256:in `rescue in request'
    from /usr/local/lib/ruby/gems/2.2.0/gems/excon-0.45.4/lib/excon/connection.rb:204:in `request'
    from /usr/local/lib/ruby/gems/2.2.0/gems/fog-core-1.32.0/lib/fog/core/connection.rb:81:in `request'
    from /usr/local/lib/ruby/gems/2.2.0/gems/fog-xml-0.1.2/lib/fog/xml/connection.rb:9:in `request'
    from /usr/local/lib/ruby/gems/2.2.0/gems/fog-aws-0.7.4/lib/fog/aws/storage.rb:592:in `_request'
    from /usr/local/lib/ruby/gems/2.2.0/gems/fog-aws-0.7.4/lib/fog/aws/storage.rb:587:in `request'
    from /usr/local/lib/ruby/gems/2.2.0/gems/fog-aws-0.7.4/lib/fog/aws/requests/storage/put_object.rb:43:in `put_object'
    from fogtest.rb:32:in `<main>'
```

Now lets remove the second space from `meta['name']`:

``` ruby
meta['name'] = "Foo Bar.txt" # only one space between Foo and Bar
puts storage.put_object(BUCKET, "foo__bar.txt", "foo", headers).inspect
#<Excon::Response:0x007fb67aef3a48 @data={:body=>"", :headers=>{"x-amz-id-2"=>"a5QSBALldejvBtmF2xvsW6lf6x775LkVnmuXZkn7MQOiXV5mzaEjuxat94ZZ/+Tq7gRMy4IjtXw=", "x-amz-request-id"=>"2E6B87F6031A18EE", "Date"=>"Mon, 03 Aug 2015 17:22:05 GMT", "ETag"=>"\"acbd18db4cc2f85cedef654fccc4a4d8\"", "Content-Length"=>"0", "Server"=>"AmazonS3"}, :status=>200, :status_line=>"HTTP/1.1 200 OK\r\n", :reason_phrase=>"OK", :remote_ip=>"54.231.192.38", :local_port=>54059, :local_address=>"REDACTED"=>"a5QSBALldejvBtmF2xvsW6lf6x775LkVnmuXZkn7MQOiXV5mzaEjuxat94ZZ/+Tq7gRMy4IjtXw=", "x-amz-request-id"=>"2E6B87F6031A18EE", "Date"=>"Mon, 03 Aug 2015 17:22:05 GMT", "ETag"=>"\"acbd18db4cc2f85cedef654fccc4a4d8\"", "Content-Length"=>"0", "Server"=>"AmazonS3"}, @status=200, @remote_ip="54.231.192.38", @local_port=54059, @local_address="REDACTED">
```


This is a reduced test case, the error originally occurred with the dragonfly-s3_data_store gem, but the code path shown is essentially the same.

Gem Versions used:
```
Using builder 3.2.2
Using formatador 0.2.5
Using excon 0.45.4
Using mime-types 2.6.1
Using net-ssh 2.10.0
Using net-scp 1.2.1
Using fog-core 1.32.0
Using multi_json 1.11.2
Using fog-json 1.0.2
Using mini_portile 0.6.2
Using nokogiri 1.6.6.2
Using fog-xml 0.1.2
Using ipaddress 0.8.0
Using fog-aws 0.7.4
Using bundler 1.10.5
```

I think the problem is how Amazon handles header canonicalization, quoting RFC 2616 Section 4.2:

> The field-content does not include any leading or trailing LWS:
> linear white space occurring before the first non-whitespace
> character of the field-value or after the last non-whitespace
> character of the field-value. Such leading or trailing LWS MAY be
> removed without changing the semantics of the field value. **Any LWS**
> **that occurs between field-content MAY be replaced with a single SP**
> before interpreting the field value or forwarding the message
> downstream.

Btw. I tried to fix that on the application side, by quoting the json string, but signing still fails, because consecutive spaces are still replaced, either by fog or the s3 servers.

When running with EXCON_DEBUG=true I can see that the headers hash contains:
```
"{\"name\":\"Foo   Bar.txt\",\"model_class\":\"Asset\",\"model_attachment\":\"attachment\"}"
```

So my best guess ist that Amazon also replaces consecutive whitespace inside quotes, although that seems to be in violation of RFC 2616.

The [amazon docs](http://docs.aws.amazon.com/general/latest/gr/sigv4-create-canonical-request.html) state that this should not be the case:

Original headers example:
```
host:iam.amazonaws.com\n
Content-type:application/x-www-form-urlencoded; charset=utf-8\n
My-header1:    a   b   c \n
x-amz-date:20120228T030031Z\n
My-Header2:    "a   b   c"\n
```
Canonicalized example:
```
content-type:application/x-www-form-urlencoded; charset=utf-8\n
host:iam.amazonaws.com\n
my-header1:a b c\n
my-header2:"a   b   c"\n
x-amz-date:20120228T024136Z\n
``` 


I looked at tcpdump and this seems to be indeed a bug in the S3 server implementation.

Example:
```
x-amz-meta-foo: " Foo  Bar   Baz " # sent
x-amz-meta-foo: " Foo Bar Baz " # returned by aws endpoint
```

So I guess for now the only workaround for now is to strip consecutive spaces in either the app or fog-aws or don't do something weird like storing json in http headers without encoding to eg. base64.

For this specifiy case I found a workaround by replacing spaces with JSON uncode escape sequences in the app:
```ruby
headers = {
  'Content-Type' => 'text/plain',
  'x-amz-acl' => 'public-read',
  'x-amz-meta-json' => JSON.generate(meta, ascii_only: true).gsub(/ /, '\u0020')
}
```

This is similar to fog/fog#2942 and there is probably no right way to fix this in fox, instead the app should make sure it does not provide problematic data.

What fog-aws could do, is raise an exception if a header contains multiple spaces, because this is very hard to debug without lots of background research. So I guess the check for non-ascii chars that was added in fog/fog#3344 should be expanded to also check for consecutive spaces (or all consecutive whitespace).

Urgh - another flaky things in the S3 signature implementation. I did some experiments with aws sdk to see how they handle things and they seem to just remove spaces when constructing the canonical headers. They do so in a way that seems a bit dodgy to me though - they do

            value.match(/^".*"$/) ? value : value.gsub(/\s+/, ' ').strip

i.e. they would replace spaces in a header of the form

    Content-Disposition: attachment; filename="foo  bar"

which as you say is not what the documentation said it should do. I monkey patched fog to strip duplicate spaces when constructing the signature and this seemed to work (at least for your test case) and preserves the actual header value.

http://docs.aws.amazon.com/AmazonS3/latest/API/sig-v4-header-based-auth.html says you should just trim header values (which fog does) which is neither what it appears to be doing nor what the signature v4 docs say you should do


I'm pretty sure, that what the ruby sdk would run into similar problems as fog-aws, because the S3 server would still compact runs of spaces inside quotes, which it shouldn't.

However I didn't think of you approach to only change the headers for signing, while keeping the originals intact. That seems like a good solution for this problem.

Uploading via the sdk did work when I tried:

```ruby
client = Aws::S3::Client.new(http_wire_trace: true, region: "eu-central-1")
s3 = Aws::S3::Resource.new(client: cliebt)
obj = s3.bucket('fred-test-eu').object('key')
obj.put(body:"test", metadata: {foo: '{"name":"Foo  Bar.txt","model_class":"Asset","model_attachment":"attachment"}', content_disposition: 'attachment; filename="foo  bar"'}, acl: "public-read")
```


We've run into a similar issue here, but with unicode characters instead of double spaces. Try sending the filename as `£` instead of `foo  bar`, and you get a `SignatureDoesNotMatch` as well. The response reports that it thinks the character is `??` instead of `£`. Currently trying to track this down.

@fcheung interestingly, I can also reproduce with `aws-sdk` with that `£` sign in your example, and get the  `Aws::S3::Errors::SignatureDoesNotMatch`

@tiegz You aren't really supposed to store UTF-8 unencoded in HTTP headers. If you are storing JSON you can use the '\u' encoding and also encode spaces or other whitespace using that encoding or skip the problem completely by eg. base64 encoding the serialized json.

@felixbuenemann juuuust realized that after I posted the comment, hahaha. Thanks!

Not tested etc. but https://github.com/fcheung/fog-aws/tree/canonicalize_headers does what I mention 

@fcheung My tests showed that the AWS S3 servers replace multiple spaces even inside quoted values, which is why I wrote that they don't follow RFC 2616, see https://github.com/fog/fog-aws/issues/160#issuecomment-127384063. I haven't yet checked with any other whitespace chars.

Your changes don't touch quoted headers, so I don't think they would generate a working signature. I'll try to checkout your code to verify for sure.

@fcheung I tested with your branch, the following header works:
```ruby
{'x-amz-meta-foo' => '  Foo  Bar   Baz   '}
```
While if I use a quoted header, I get a SignatureDoesNotMatch error:
```ruby
{'x-amz-meta-foo' => '"  Foo  Bar   Baz   "'}
```
This also works (consolidated consecutive spaces):
```ruby
{'x-amz-meta-foo' => '" Foo Bar Baz "'}
```
This means you should always consolidate whitespace, no matter if the header is quoted or not.

@fcheung Using the following monkey patch I can send just about anything as headers, as long as the headers themselves are structured according to RFC 2616:
```ruby
Fog::AWS::SignatureV4.class_eval do
  protected def normalize_header_value(header)
    header.strip.gsub(/\s+/, ' ')
  end
end
```
This works with the monkey patch:
```ruby
{'x-amz-meta-foo' => '"  Foo  Bar '"\n\t\n"'  Baz  "'}
```

Any one have any update on this issue? I am using `fog-aws` along with `carrierwave` and facing exactly same problem. 

Not that I'm aware of (last comment here was quite some time ago). It sounds like, if you can remove repeated whitespace yourself it shouldn't be an issue. Otherwise there may be some oddities around normalization (which perhaps we should try to fix).

@felixbuenemann This monkey patch didn't worked for me. Did you figure out any other solution for this problem? 

Sorry, I'm using the aws ruby sdk these days, haven't used fog in a long time and I have no idea what project I used the above mentioned patch in.

Hm.. I am also moved to `aws-sdk` and it works fine. 